.inputField,
.textarea {
    width: 100%;
    paddingBottom: 16px;
    border: none;
    borderBottom: 1px solid #111;
    background: transparent;
    fontSize: 16px;
    lineHeight: 100%;
    color: #333;
    fontFamily: var(--font-raleway), Raleway, sans-serif;
}

.textarea {
    resize: none;
    height: 38px;
    minHeight: 38px;
}