.articlesWrap{
  padding: 20px 0 164px 0px;
}
.articlesWrap .container{
  max-width: 1583px;
}
.articlesWrap .articlePostItem{
  padding-right: 54px;
  padding-left: 54px;
}
.articlesWrap .articlePostItem .articleImg{
  overflow: hidden;
}
.articlesWrap .articlePostItem .articleImg a img{
  transition-duration: .3s;
}
.articlesWrap .articlePostItem .articleImg a img:hover{
  -webkit-filter: brightness(60%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  transform: scale(1.1);
}
.articlesWrap .articlePostItem h4{
  margin-left: 10px;
  margin-bottom: 16px;
  font-weight: 300;
  font-size: 18px;
  line-height: 187%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #111;
}
.articlesWrap .articlePostItem .lowerContent h3{
  margin-top: 32px;
  margin-bottom: 7px;
}
.articlesWrap .articlePostItem .lowerContent h3 a{
  font-family: Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 187%;
  letter-spacing: 0.02em;
  color: #111;
  text-decoration: none;
}
.articlesWrap .articlePostItem .lowerContent h3 a:hover{
  color: #444;
  text-decoration: none;
}
.articlesWrap .articlePostItem .lowerContent span{
  font-family: var(--font-raleway), Raleway;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.02em;
  color: #ACACAC;
}

@media screen and (max-width:768px){
  .articlesWrap .articlePostItem{
    margin-bottom: 60px;
    padding: 0 15px;
  }
  .articlesWrap .articlePostItem h4{
    margin-left: 0;
  }
}

@media screen and (max-width:1000px){
  .articlesWrap{
    padding-top: 164px;
  }
}

@media screen and (max-width:1100px){
  .articlesWrap .articlePostItem{
    padding: 0 15px;
  }
}